.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2; /* Светло-серый фон */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0D58A6; /* Темно-синяя кнопка */
    color: #fff; /* Белый текст */
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bkg.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #0D58A6; /* Цвет текста (темно-синий) */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center; /* Центрирование текста */
}